.chat-container {
    padding: 20px;
    width:   60%;
    display: inline-block;

    >.chat {
        height:     500px;
        background: white;
        list-style: none;

        li:nth-child(odd) { background: #eee; }
    }

    >.input {
        width: calc(~'100% - 100px');
    }

    >.enter {
        display: inline-block;
        width: 100px;
    }
}